:root{
    --mainColor: #606b56;
    --secondayColor: #515a48;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --borderColor: #161914;

    --themeDotBorder: #fff;

    --previewBg: rgba(81,90,72,0.8);
    --previewShadow: #2a2f25;

    --buttonColor: #669966;
}